*{
    margin: 0;
    font-family: "Inter", sans-serif;

}

body{
    background-color: rgb(252, 246, 236);
}

header{
   
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rgb(38, 75, 241);
    color: white;
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
}

.btn:hover{
    background-color: rgb(51, 51, 210);
    cursor: pointer;
    transition: 0.8s;
}

#highlights-section{
    
    width: 70%;
    margin: 50px auto;

}
#highlights-section > h2 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 8px #e99f9f;
    margin-bottom: 25px;
}
#highlights-section > p {
    margin: 0 auto;
    width: 50%;
    color: rgb(152, 91, 91);
    text-align: center;
    margin-bottom: 25%;
}
#buy-now-btn{
    display: flex;
    justify-content: center;
}
#cover-image-section{
    width: 70%;
    margin: 50px auto;
}
#cover-image-section img{
    width: 100%;
}

#search-section{
    width: 70%;
    margin: 50px auto;
}

#search-section > h2 {
    text-align: center;
    margin-bottom: 25px;
}
#search-container{
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color:rgb(253, 246, 192);
    display: flex;
    justify-content: space-between;
}
#search-bar{
    width: 70%;
}
#search-bar > input[type="text"]{
    padding: 15px;
    border: none;
    outline: none;
    width: 60%;
    background-color: rgb(253, 246, 192);
}
#search-btn{
    width: 30%;
    display: flex;
    justify-content: end;
}